[Desktop Entry]
Comment[cs]=Jednoduchý Balíčkovač pro Python (GUI) aplikace.
Comment=Simple packager for Python (GUI) apps.
Comment[de]=Simple Packager für Python (GUI)-Apps.
Exec=run.py --help
Icon=com.github.vikdevelop.pythonpackager
Name=Python Packager
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
Categories=Utility
